.git
__pycache__
*.pyc
.ipynb_checkpoints
data/
datasets/raw/
datasets/processed/
.cache
.venv
venv
env
*.log
results/logs/
results/plots/
minio-data/
docker-data/
spark-warehouse/
metastore_db/
dbt_project/target/
dbt_project/logs/
